@{
    ViewBag.Title = "Home Page";
}

<h2>Dnevni izvestaj</h2>
<hr />
<h4>Ukupan prihod:</h4>
<h5 style="color: red">value</h5>
<h4>Zarada:</h4>
<h5 style="color: red">value</h5>
<hr />
<table id="racuni" class="table table-bordered table-hover">
    <thead>
        <tr class="info">
            <th>Id racuna</th>
            <th>Prodavac</th>
            <th>Artikli</th>
            <th>Datum izdavanja</th>
            <th>Iznos racuna</th>
            <th>Iznos racuna - nabavna</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            
            var table = $("#racuni").dataTable({
                ajax: {
                    url: "http://localhost:49788/api/Racunis/1",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id_racuna"
                    },
                    {
                        data: "prodavac"
                    },
                    {
                        data: "artikli"
                    },
                    {
                        data: "datum_izdavanja"
                    },
                    {
                        data: "iznos"
                    },
                    {
                        data: "iznos_nabavna"
                    }

                ]
            });
        });
    </script>
}